##PDF files
*.pdf
##Private keys
*.pem
*.ppk
##environment setup scripts
env.py
##ignore bootstrap elements
NoSQL/static/*
SQL/static/*
utils/__pycache__/*
##OS files py cahce files
*.pyc
*.DS_Store

